.games-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}
.card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

.match-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Dans static/css/main.css */
.table-hover tbody tr:hover {
    background-color: #f8f9fa;
}

.alert-info {
    background-color: #e2f0ff;
    border-color: #b6d4fe;
}