{% extends "base.html" %}
{% block content %}
  <p>Bienvenue sur Play'n'Trade</p>

  <button onclick="document.getElementById('exchange-form').style.display='block'">Échanger mon jeu</button>

  <div id="exchange-form" style="display:none; margin-top:20px;">
    <form method="POST" action="{{ url_for('exchange_game') }}">
        <label for="game_title">Nom du jeu :</label>
        <input list="games" name="game_title" required>
        <datalist id="games">
            {% for game in games %}
            <option value="{{ game[1] }}"></option>
            {% endfor %}
        </datalist><br><br>

        <label for="condition">État du jeu :</label>
        <select name="condition" required>
            <option>neuf</option>
            <option>très bon état</option>
            <option>bon état</option>
            <option>acceptable</option>
        </select><br><br>

        <label for="city">Ville :</label>
        <input type="text" name="city" required><br><br>

        <input type="submit" value="Ajouter">
    </form>

  </div>

  <form action="{{ url_for('find_game') }}" method="GET" style="margin-top: 20px;">
    <button type="submit">Trouver un jeu</button>
  </form>

   <form action="{{ url_for('all_games') }}" method="GET" style="margin-top: 20px;">
    <button type="submit">Liste des jeux</button>
  </form>

  <form action="{{ url_for('my_likes') }}" method="GET" style="margin-top: 20px;">
    <button type="submit">Mes likes</button>
  </form>
  
  <form action="{{ url_for('reciprocal_matches') }}" method="GET" style="margin-top: 20px;">
    <button type="submit">Mes matchs</button>
  </form>

{% endblock %}
